@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
  background-color: #fafafa;
  margin: 0;
}
p, ul {
   margin: 0;
}
a {
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
.menu-nav a {
  color: #FFFFFF;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  z-index: 2;
}
.logo-adapt {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}
.logo-adapt-two {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}
.logo-adapt-three {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}
.logo-adapt-four {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}
.logo-text-top {
  font-size: 78px;
  font-family: 'Ubuntu';
  font-style: italic;
  color: #00008B;
  margin-top: 44px;
}
.logo-text-bottom {
  font-size: 78px;
  font-family: 'Ubuntu';
  font-style: italic;
  color: #8B0000;
}
.logo-svg-color {
  fill: #00008B;
}
.bg-main {
  height: 651px;
  margin-top: -651px;
  overflow: hidden;
}
.values {
  list-style: none;
  padding: 0;
}
.table-values {
  font: normal 12px arial;
  width: 100%;
  text-align: center;
  background-color: white;
  border-collapse: collapse;
}
table a:visited {
  color: #14509C;
  font-weight: bold; 
}
.main-li {
  margin-bottom: 10px;
}
.term {
   font-weight: bold;   /*Терминология*/
   font-size: 16px;
}
p, li, table {
   font-family: 'Segoe UT', Tahoma, Geneva, Verdana, sans-serif;
}
.main-h-prod {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
.main-h-prod-passport {
  text-align: center;
  margin-top: 1050px;
}
h2 {
   text-align: center;
   font-size: 32px;
}
.main-h {
  margin-top: 100px;
  font-size: 48px;
  margin-bottom: 80px;
}
.table-style { 
   border-collapse: collapse;   /*Таблица*/
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 50%;
}
.table-style-product { 
  border-collapse: collapse;   /*Таблица*/
  margin: 0 auto;
  margin-top: 15px;
  width: 50%;
  color: #FFFFFF;
}
.table-style-product-r { 
border-collapse: collapse;   /*Таблица*/
margin: 0 auto;
margin-top: 15px;
width: 95%;
text-align: justify;
}
.table-style-contact {
width: 95%; 
border-collapse: collapse;   /*Таблица*/
}
.table-style-passport { 
border-collapse: collapse;   /*Таблица*/
margin: 0 auto;
margin-top: 15px;
width: 75%;
font-size: 20px;
text-align: center;
}
.table-passport-adapt {
  display: none;
}
.table-style-app { 
  border-collapse: collapse;   /*Таблица (Приложение 2,3)*/
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 14px;
}
.prod-lin {
  position: relative;
}
.oked {
  font-size: 22px;
  overflow-y: scroll;
  height: 850px;
  width: 70%;
}
.oked li{
  list-style: none;
  cursor: pointer;
}
.oked-list {
  position: absolute;
  right: 10px;
  top: 100px;
  width: 25%;
  font-size: 20px;
}
.oked-list-li {
  position: absolute;
  right: 10px;
  top: 200px;
  width: 25%;
  font-size: 20px;
  opacity: 0.1;
  list-style: none;
  text-align: center;
}
.text-i {
   font-style: italic;
}
.text-underline {
   text-decoration: underline;   /*Подчеркнутый текст*/
}
.app-table {
  text-align: right;
  margin-top: 150px;
}
.table-header {
  font-weight: bold;   /*Заголовок таблицы*/
  margin-bottom: 30px;
  font-size: 18px;
}
.btn-item {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.btn-item-adapt {
display: flex;
flex-direction: column;
padding: 0;
}
.mm {
margin-top: 90px;
}
.btn-adapt {
  display: none;
}
.btn-two-adapt {
  display: none;
}
.btn-item li {
padding: 15px;
background-color: #00008B;
color: #FFFFFF;
width: 240px;
text-align: center;
border-radius: 20px;
margin-top: 50px;
margin-bottom: 60px;
cursor: pointer;
}
.btn-item li:hover {
background-color: #8B0000;
}
.btn-item li a:link {
text-decoration: none;
}
/*.btn-item > li { 
transition: transform 0.5s 
}
.btn-item > li:hover { 
transform: scale(1.2); 
}*/
.btn-item li a {
color: #FFFFFF;
}
.btn-item-adapt li {
  padding: 15px;
  background-color: #00008B;
  color: #FFFFFF;
  width: 240px;
  text-align: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
  cursor: pointer;
  }
  .btn-item-adapt li:hover {
  background-color: #8B0000;
  }
  .btn-item-adapt li a:link {
  text-decoration: none;
  }
  /*.btn-item > li { 
  transition: transform 0.5s 
  }
  .btn-item > li:hover { 
  transform: scale(1.2); 
  }*/
  .btn-item-adapt li a {
  color: #FFFFFF;
  }
.maxAmout:hover {
color: #00008B;
}
.fix {
background-color: #FFFFFF;
text-align:center;
position:fixed;
right:10px;
border: 2px solid black;
bottom: 10px;
}
.fix:hover {
background-color: #00008B;
}
.fix-href:hover {
color: #FFFFFF;
}
.fix-href {
font-size: 40px;
}
.menu {
display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  padding: 0;
}
.contact {
display: flex;
justify-content: space-around;
}
.table-contact-with {
  width: 20%;
}
.map-main {
  position: relative;
  overflow: hidden;
}
.map-main-size {
  width: 900px;
  height: 497px;
  position: relative;
}
.map-adapt {
  position: relative;
  overflow: hidden;
  display: none;
}
input {
margin-top: 7px;
margin-bottom: 5px;
}
.search {
margin-top: 10px;
margin-bottom: 10px;
}
.bg {
  background: -moz-linear-gradient(45deg, #00008B 0%, #FFFFFF 65%, #00008B 50%, #8B0000 70%);
  background: -webkit-linear-gradient(45deg, #00008B 0%,#FFFFFF 65%,#00008B 50%,#8B0000 70%);
  background: linear-gradient(45deg, #00008B 0%,#FFFFFF 65%,#00008B 50%,#8B0000 70%);
  background-size: 400% 400%;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden;
position: relative;
 height: 650px; 
 z-index: 2;
}
.bg-two {
  background: -moz-linear-gradient(45deg, #00008B 0%, #FFFFFF 65%, #00008B 50%, #8B0000 70%);
  background: -webkit-linear-gradient(45deg, #00008B 0%,#FFFFFF 65%,#00008B 50%,#8B0000 70%);
  background: linear-gradient(45deg, #00008B 0%,#FFFFFF 65%,#00008B 50%,#8B0000 70%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
-moz-animation: Gradient 10s ease infinite;
animation: Gradient 15s ease infinite;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden;
position: relative;
 height: 650px; 
 z-index: 2;
}
div.bg::before, 
div.bg::after {
content: "";
width: 70vmax;
height: 70vmax;
position: absolute;
background: rgba(255, 255, 255, 0.07);
left: -20vmin;
top: -20vmin;
animation: morph 15s linear infinite alternate, spin 20s linear infinite;
z-index: 1;
will-change: border-radius, transform;
transform-origin: 30% 30%;
pointer-events: none; 
}

div.bg::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 10% 10%; 
}




/*Актуальная линейка кредитных продуктов */

      /* радиокнопки скрыты */
      input.SRadioFolder
      {
          display: none;
      }
  
      /* но их метки видны и выстраиваются в линейку */
      input.SRadioFolder + label
      {
          float: left;
          background-color: #8B0000;
          display: block;
          margin-right: 4px;
          padding: 0 10px 0 10px;
          border-radius: 10px 10px 0 0;
          line-height: 2em;
          color: #FFFFFF;
      }
  
      /* самая первая метка - с отступом слева */
      input.SRadioFolder:first-child + label
      {
          margin-left: 10px;
      }
  
      /* метка выбранной радиокнопки - голубой фон */
      input.SRadioFolder:checked + label
      {
          background-color: #00008B;
          color: #FFFFFF;
      }
  
      /* все контенты обычно не видны */
      input.SRadioFolder + label + div
      {
          display: none;
      }
  
      /* контент выбранной радиокнопки виден */
      input.SRadioFolder:checked + label + div
      {
          display: block;
          position: absolute;
          left: 0;
          top: 2em;
          width: 100%;
          height: 865px;
          background-color: #00008B;
          border-radius: 10px;
          color: #FFFFFF;
      }







      .bg-R {
        background: linear-gradient(132deg, #8B0000, #00008B);
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        padding:0;
        margin:0px;
      }
      .cube {
        position: absolute;
        animation-name: rotation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        bottom: 0;
        z-index: 1;
      }
      @keyframes rotation {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }

      /* Animate Background*/
      @keyframes Gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      @keyframes cube {
        from {
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
          opacity: 0.3;
        }
        to {
          transform: scale(20) rotate(960deg) translate(-50%, -50%);
          opacity: 0.3;
        }
      }





      .card{
        margin-bottom: 50px;
        margin-left: 450px;
        margin-top: 1000px;
        cursor:pointer;
        position:relative;
        width:1000px;
        height:600px;
        background:#fff;
        transform-style:preserve-3d;
        transform-prespective:2000px;
        transition:1s;
        box-shadow:inset 300px 0 50px rgba(0,0,0,0.15), 0 20px 20px rgba(0,0,0,0.15);
      }
      .h-pass {
        z-index: 1;
        position: absolute;
        top: 50px;
        color: darkblue;
        text-align: center;
        font-size: 26px;
        font-family: cursive;
      }
      .card:hover{
        transform:perspective(2500px) translateX(0%);
          box-shadow:inset 20px 0 50px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
      }
      .card .cover{
        position:relative;
        width:100%;
        height:100%;
        background:#fff;
        z-index:1;
        display:flex;
        justify-content:center;
        align-items:center;
         transform-style:preserve-3d;
        overflow:hidden;
        transition:1s ease-in-out;
        transform-origin:left;
      }
      .card:hover .cover{
        transform:rotateY(-180deg);
      }
      .card .cover::before{
        position:absolute;
        content:"";
        width:560px;
        height:160%;
        background:#fff;
        transform:rotate(90deg);
        box-shadow:0 0 0 18px #8B0000;
        transition:0.5s;
        transition-delay:1s;
      }
      .card:hover .cover::before{
        width:0;
        box-shadow:0 0 0 250px #00008B;
          transition:0.5s;
        transform:rotate(143.5deg);
      }
      .card .details{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;
        text-align:center;
      }
      .cover-password {
        z-index: 1;
      }


      .custom-btn {
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }
      /* Разделы (ссылки) меню */
      .btn-menu {
        color: #00008B;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .btn-menu:hover {
        color: #8B0000;
        background: transparent;
         box-shadow:none;
      }
      .btn-menu:before,
      .btn-menu:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #8B0000;
        box-shadow:
         -1px -1px 5px 0px #fff,
         7px 7px 20px 0px #0003,
         4px 4px 5px 0px #0002;
        transition:400ms ease all;
      }
      .btn-menu:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .btn-menu:hover:before,
      .btn-menu:hover:after{
        width:100%;
        transition:800ms ease all;
      }


@media screen and (max-width:1790px)
{
.map-main {
  display: none;
}
.map-adapt {
  position: relative;
  overflow: hidden;
  display: flex;
}
input.SRadioFolder:checked + label + div {
  height: 960px;
}
.main-h-prod-passport {
  margin-top: 1100px;
}
}
@media screen and (max-width:1670px)
{
  .logo-text-top {
    font-size: 70px;
    margin-top: 55px;
  }
  .logo-text-bottom {
    font-size: 70px;
  }
  .bg {
    height: 630px;
  }
  .bg-main {
    height: 630px;
    margin-top: -630px;
  }
}
@media screen and (max-width:1645px)
{
  input.SRadioFolder + label {
    display: flex;
    justify-content: center;
    float: none;
    background: none;
    margin-right: 0;
    border-radius: 0;
  }
  input.SRadioFolder:checked + label + div {
    top: 380px;
    border-radius: 0;
    background: none;
  }
  input.SRadioFolder:first-child + label {
    margin-left: 0;
  }
  .bg-prod {
    background: linear-gradient(255deg, #8B0000, #00008B);
    height: 1400px;
  }
  .main-h-prod-passport {
    margin-top: 130px;
  }
  input.SRadioFolder:checked + label + div {
    top: 410px;
    border-radius: 0;
    background: none;
  }
}
@media screen and (max-width:1580px)
{
.contact {
  flex-direction: column;
}
.map-adapt {
display: none;
}
.map-main {
  display: flex;
  margin: 0 auto;
}
.table-contact-adapt {
  margin-top: 40px;
}
.table-style-contact {
  width: 900px;
  margin: 0 auto;
}
.table-style-passport {
  width: 85%;
}
input.SRadioFolder:checked + label + div {
  height: 1000px;
}
.main-h-prod-passport {
  margin-top: 1140px;
}
.table-style-product {
  width: 60%;
}
input.SRadioFolder + label {
  display: flex;
  justify-content: center;
  float: none;
  background: none;
  margin-right: 0;
  border-radius: 0;
}
input.SRadioFolder:first-child + label {
  margin-left: 0;
}
.bg-prod {
  background: linear-gradient(255deg, #8B0000, #00008B);
  height: 1400px;
}
.main-h-prod-passport {
  margin-top: 130px;
}
}
@media screen and (max-width:1530px)
{
  .logo-text-top {
    font-size: 60px;
    margin-top: 67px;
  }
  .logo-text-bottom {
    font-size: 60px;
  }
  .bg {
    height: 600px;
  }
  .bg-main {
    height: 600px;
    margin-top: -600px;
  }
}
@media screen and (max-width:1360px)
{
  .logo-text-top {
    font-size: 50px;
    margin-top: 80px;
  }
  .logo-text-bottom {
    font-size: 50px;
  }
  .bg {
    height: 560px;
  }
  .bg-main {
    height: 560px;
    margin-top: -560px;
  }
  .table-style-passport {
    width: 90%;
  }
  input.SRadioFolder:checked + label + div {
    height: 1060px;
  }
  .main-h-prod-passport {
    margin-top: 130px;
  }
  .table-style-product {
    width: 65%;
  }
}
@media screen and (max-width:1290px)
{
  .btn-blacklist {
    display: none;
  }
}
@media screen and (max-width:1240px)
{
  .table-style-passport {
    width: 95%;
  }
}
@media screen and (max-width:1200px)
{
  .logo-text-top {
    font-size: 45px;
    margin-top: 87px;
  }
  .logo-text-bottom {
    font-size: 45px;
  }
  .bg {
    height: 530px;
  }
  .bg-main {
    height: 530px;
    margin-top: -530px;
  }
  .btn-two {
    display: none;
  }
  .btn-two-adapt {
    display: block;
  }
  .table-passport-main {
    display: none;
  }
  .table-passport-adapt {
    display: block;
  }
  .table-style-product {
    width: 85%;
  }
  .table-style-product-r {
    width: 99%;
    font-size: 15px;
  }
}
@media screen and (max-width:1100px)
{
  .logo-text-top {
    font-size: 40px;
    margin-top: 57px;
  }
  .logo-text-bottom {
    font-size: 40px;
  }
  .bg-main {
    height: 480px;
    margin-top: -480px;
  }
  .bg {
    height: 480px;
  }
  .logo-adapt {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-main {
    display: none;
  }
}
@media screen and (max-width:960px)
{
  .logo-text-top {
    font-size: 35px;
    margin-top: 50px;
  }
  .logo-text-bottom {
    font-size: 35px;
  }
  .bg-main {
    height: 440px;
    margin-top: -440px;
  }
  .bg {
    height: 420px;
  }
  .logo-adapt-two {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-adapt {
    display: none;
  }
  .logo-main {
    display: none;
  }
  .table-style-contact {
    width: 800px;
  }
  .map-main {
    width: 800px;
  }
  .logo {
    margin-top: 35px;
  }
  .table-style-product {
    width: 90%;
  }
  .table-style-product-r {
    font-size: 14px;
  }
  .btn {
    display: none;
  }
  .btn-adapt {
    display: flex;
    justify-content: center;
  }
  .btn-item-adapt {
    display: flex;
    flex-direction: column;
  }
  .btn-item-adapt li {
    margin-top: -10px;
  }
  .table-values {
    margin-bottom: 80px;
  }
  }
@media screen and (max-width:830px)
{
  .logo-text-top {
    font-size: 30px;
    margin-top: 42px;
  }
  .logo-text-bottom {
    font-size: 30px;
  }
  .bg-main {
    height: 400px;
    margin-top: -400px;
  }
  .bg {
    height: 380px;
  }
  .logo-adapt-three {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-adapt-two {
    display: none;
  }
  .logo-adapt {
    display: none;
  }
  .logo-main {
    display: none;
  }
  .table-contact-with {
    width: 22%;
  }
  .table-style-contact {
    width: 700px;
  }
  .map-main {
    width: 700px;
  }
  .table-style-product-r {
    font-size: 13px;
  }
}
@media screen and (max-width:730px)
{
  .table-style-contact {
    width: 600px;
  }
  .table-contact-with {
    width: 25%;
  }
  .map-main {
    width: 600px;
  }
}
@media screen and (max-width:720px)
{
  .logo-text-top {
    font-size: 25px;
    margin-top: 36px;
  }
  .logo-text-bottom {
    font-size: 25px;
  }
  .bg-main {
    height: 360px;
    margin-top: -360px;
  }
  .bg {
    height: 340px;
  }
  .logo-adapt-four {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-adapt-three {
    display: none;
  }
  .logo-adapt-two {
    display: none;
  }
  .logo-adapt {
    display: none;
  }
  .logo-main {
    display: none;
  }
  .table-style-product {
    width: 99%;
  }
  .table-style-product-r {
    font-size: 12px;
  }
}
@media screen and (max-width:630px)
{
  .table-style-contact {
    width: 500px;
  }
  .table-contact-with {
    width: 32%;
  }
  .map-main {
    width: 500px;
  }
  .table-style-product-r {
    font-size: 11px;
  }
}
@media screen and (max-width:600px)
{
  .logo-text-top {
    font-size: 20px;
    margin-top: 40px;
  }
  .logo-text-bottom {
    font-size: 20px;
  }
  .bg-main {
    height: 320px;
    margin-top: -320px;
  }
  .bg {
    height: 300px;
  }
  .logo-adapt-four {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-adapt-three {
    display: none;
  }
  .logo-adapt-two {
    display: none;
  }
  .logo-adapt {
    display: none;
  }
  .logo-main {
    display: none;
  }
  .btn-item {
    flex-direction: column;
  }
  .btn-two-adapt {
    display: flex;
    justify-content: center;
  }
  .btn-item li {
    margin-top: 0;
  }
  .table-style-product {
    font-size: 15px;
  }
}
@media screen and (max-width:530px)
{
  .table-style-contact {
    width: 400px;
    font-size: 12px;
  }
  .map-main {
    width: 400px;
  }
  .table-style-passport {
    font-size: 15px;
    width: 99%;
  }
  .table-style-product {
    font-size: 14px;
  }
  .table-style-product-r {
    font-size: 10px;
  } 
}
@media screen and (max-width:495px)
{
  .logo-text-top {
    font-size: 23px;
    margin-top: 24px;
  }
  .logo-text-bottom {
    font-size: 23px;
  }
  .bg-main {
    height: 320px;
    margin-top: -320px;
  }
  .bg {
    height: 300px;
  }
  .logo-adapt-four {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .logo-adapt-three {
    display: none;
  }
  .logo-adapt-two {
    display: none;
  }
  .logo-adapt {
    display: none;
  }
  .logo-main {
    display: none;
  }
  .table-values-adapt {
    width: 160px;
  }
  .table-style-contact {
    width: 350px;
    font-size: 11px;
  }
  .map-main {
    width: 350px;
  }
  .table-style-passport {
    font-size: 14px;
    width: 99%;
  }
  .logo {
    margin-top: 25px;
  }
  .table-style-product {
    font-size: 12px;
  }
  .table-style-product-r {
    font-size: 9px;
  }
  .bg-prod {
    height: 1400px;
  }  
}













